
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

button, input, select, option {
	cursor: pointer;
}



h1 {
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 65px;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

h1 {
	font-family: 'Pinyon Script', cursive;
	color: #f2f2f2;
}




#nick_label {
	color: white;
	font-size: 30px;
	display: block;
	text-align: center;
	line-height: 150%;
}

#nickname {
	margin-top: 5%;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	background: transparent;
	color: white !important;
	border-bottom: 4px solid white;
}

#nickname::placeholder {
	font-size: 40px;
	font-weight: bold;
	color: black;
	opacity: 0.3;
}

#nick_input {
	margin-top: 6%;
}

#messages {
	overflow-y: auto;
	height: 500px;
	text-align: left;
	margin-right: 10%;
}


.right_column_colors {
	float: left;
	width: 25%;
}

.left_column_colors {
	float: left;
	width: 75%;
}



#button_clean {
	margin-left: 20%;
	margin-right: 20%;
}

/*Login*/
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

#login{
	width: 100%;
	display: block;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2196F3), to(#2196F3));
    background-repeat: repeat-x;
	border: 1px solid #2196F3;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
}



/*Pop up*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal{
	width: 800px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    background-color: #fdfdfdc9;
    border-radius: 15px;
    z-index: 11;
    text-align: center;
    padding-top: 70px;
}

#creator {
	font-size: 25px;
	font-style: italic;
	text-transform: capitalize;
}

#recived_message{
	font-weight: bold;
	font-size: 40px;
	text-transform: capitalize;
}

.discard{
	margin-right: 70px;
	margin-top: 90px;
	
	background-color: #f11419;
	border: 1px solid #f11419;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	padding: 9px 14px;
    font-size: 15px;
	border-radius: 5px;
}

.keep{
	background-color: #2196F3;
	border: 1px solid #2196F3;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	padding: 9px 14px;
    font-size: 15px;
	border-radius: 5px;
}

/*Mid content*/
#unfixed_width {
	padding: 0px;
	margin-left: 350px;
	margin-right: 350px;
	/*background-color: #090;*/
}

/*Right content*/
#fixed_width_right {
	width: 350px;
	padding: 0px;
	float: right;
	/*background-color: #f00;*/
}

#wrapper_right_content{
	padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
}


#send{
	background-color: #2196F3;
	border: 1px solid #2196F3;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	padding: 9px 14px;
    font-size: 15px;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 100%;

}

#myBottlesButton{
	background-color: #f3bc21;
	border: 1px solid #f3bc21;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #000000;
	padding: 9px 14px;
    font-size: 15px;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 100%;
}

/*Left content*/
#fixed_width {
	width: 350px;
	padding: 0px;
	float: left;
	/*background-color: #f00;*/
}

.message_wrapper{
	margin-top: 20px;
	margin-left: 20px;
	
    background-color: #fdfdfdc9;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}









#login_page_container {
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}

#game_page_container {
	display: none;

}



body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #429dff;
	background-size: auto auto;
	margin: 0px;

}


input {
	width: 100%;
	margin-bottom: 10px;

	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: black;

	border-radius: 4px;

}

#dropdown_rooms {
	margin-top: 7%
}

#createroom_cointainer {
	margin-bottom: 10%;
}

#clean_button {
	margin-left: 37%;
	padding-top: 3%;
}

#slider_container {
	padding-top: 12%;
	margin-left: 30%;
	margin-right: 30%;
}

input[type=range] {
	height: 24px;
	-webkit-appearance: none;
	margin: 10px 0;
	background: transparent;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #2497E3;
	border-radius: 1px;
	border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #A1D0FF;
	-webkit-appearance: none;
	margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2497E3;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #2497E3;
	border-radius: 1px;
	border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #A1D0FF;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2497E3;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
	background: #2497E3;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 0px solid #2497E3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #A1D0FF;
}

input[type=range]:focus::-ms-fill-lower {
	background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
	background: #2497E3;
}