/***********************General***********************/
body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #429dff;
	background-size: auto auto;
	margin: 0px;
}

button,
input,
select,
option {
	cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input {
	width: 100%;
	margin-bottom: 10px;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: black;
	border-radius: 4px;
}

/***************************************************/
/***********************Buttons***********************/
.btn {
	font-size: 15px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
	padding: 9px 14px;
	border-radius: 5px;
}

#login {
	display: block;
	background-color: #2196F3;
	border: 1px solid #2196F3;
	line-height: normal;
	width: 100%;
}

#sendMessageButton {
	background-color: #2196F3;
	border: 1px solid #2196F3;
	width: 100%;
	margin-bottom: 10px;
}

#myBottlesButton {
	background-color: #f3bc21;
	border: 1px solid #f3bc21;
	color: black;
	width: 100%;
}

#message{
	 margin-top: 3%;
 }
#discardButton {
	margin-right: 70px;
	margin-top: 90px;
	background-color: #f11419;
	border: 1px solid #f11419;
}

#keepButton {
	background-color: #2196F3;
	border: 1px solid #2196F3;
}

.deleteButton {
	background-color: #f11419;
	border: 1px solid #f11419;
	margin-left: 227px;
}

#okButton {
	background-color: #2196F3;
	border: 1px solid #2196F3;
	margin-top: 10px;
}

/***************************************************/
/***********************Login***********************/
#loginPageContainer {
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}

#nickname {
	margin-top: 5%;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	background: transparent;
	color: white;
	border-bottom: 4px solid white;
}

#nickname::placeholder {
	font-size: 40px;
	font-weight: bold;
	color: black;
	opacity: 0.3;
}

#backgroundVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

h1 {
	font-family: 'Pinyon Script', cursive;
	color: #f2f2f2;
	font-size: 80px;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
}

#seaPageContainer {
	display: none;
}

/***************************************************/
/***********************Pop-up**********************/
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.modal {
	width: 800px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -400px;
	background-color: #fdfdfdc9;
	border-radius: 15px;
	z-index: 11;
	text-align: center;
	padding-top: 70px;
}

#dialogBox {
	width: 400px;
	height: 150px;
	margin-top: -125px;
	margin-left: -200px;
	padding-top: 18px;
}

.alert {
	font-weight: bold;
}


#creator {
	font-size: 25px;
	font-style: italic;
	text-transform: capitalize;
}

#received_message {
	font-weight: bold;
	font-size: 40px;
	margin-left: 40px;
	margin-right: 40px;
}
/***************************************************/


/*Left content*/
#fixed_width {
	width: 350px;
	padding: 0px;
	float: left;
}

.message_wrapper {
	margin-top: 20px;
	margin-left: 20px;

	background-color: #fdfdfdc9;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.keptCreator{

}

.keptMessage{
	font-style: italic;
}

/*Mid content*/
#unfixed_width {
	padding: 0px;
	margin-left: 350px;
	margin-right: 350px;
}

/*Right content*/
#fixed_width_right {
	width: 350px;
	padding: 0px;
	float: right;
}

#wrapper_right_content {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 50px;
}


#colorsList{
	text-decoration-color;
}







.colorButton {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 15px;
	font-weight: bold;
	padding: 17px 5px;
	text-decoration: none;
	display: inline-block;
	border: 1px solid white;
}

.white_button {
	-moz-box-shadow: 0px 1px 0px 0px #f4f4f4;
	-webkit-box-shadow: 0px 1px 0px 0px #f4f4f4;
	box-shadow: 0px 1px 0px 0px #f4f4f4;
	background-color: #f4f4f4;
	color: #f4f4f4;
	text-shadow: 0px -1px 0px #f4f4f4;
}


.turqoise_button {
	-moz-box-shadow: 0px 1px 0px 0px #009588;
	-webkit-box-shadow: 0px 1px 0px 0px #009588;
	box-shadow: 0px 1px 0px 0px #009588;
	background-color: #009588;
	color: #009588;
	text-shadow: 0px -1px 0px #009588;
}

.red_button {
	-moz-box-shadow: 0px 1px 0px 0px #F44336;
	-webkit-box-shadow: 0px 1px 0px 0px #F44336;
	box-shadow: 0px 1px 0px 0px #F44336;
	background-color: #F44336;
	color: #F44336;
	text-shadow: 0px -1px 0px #F44336;
}

.yellow_button {
	-moz-box-shadow: 0px 1px 0px 0px #FFC108;
	-webkit-box-shadow: 0px 1px 0px 0px #FFC108;
	box-shadow: 0px 1px 0px 0px #FFC108;
	background-color: #FFC108;
	color: #FFC108;
	text-shadow: 0px -1px 0px #FFC108;
}

.purple_button {
	-moz-box-shadow: 0px 1px 0px 0px #661466;
	-webkit-box-shadow: 0px 1px 0px 0px #661466;
	box-shadow: 0px 1px 0px 0px #661466;
	background-color: #661466;
	color: #661466;
	text-shadow: 0px -1px 0px #661466;
}

